In [65]:
import pandas as pd
from datetime import time, datetime

dim_time = pd.DataFrame(columns=['hour_mintue', 'hour', 'minute'])

In [66]:
day_hour =[]
for i in range(24):
    for j in range(60):
        hour_minute = str(i) + ':' + str(j)
        t = datetime.strptime(hour_minute, '%H:%M').time()
        day_hour.append(t.__str__())

for i in range(len(day_hour)):
    dim_time = pd.concat([dim_time ,pd.DataFrame([{'hour_mintue':day_hour[i], 'hour':day_hour[i].split(':')[0], 'minute':day_hour[i].split(':')[1]}])], ignore_index=True)

In [67]:
dim_time.to_csv('D:\VSCode\DataWarehouse\csvfile\dim_time.csv', index=True, header=False)

In [68]:
dim_time

       id hour_mintue hour minute
0     NaN    00:00:00   00     00
1     NaN    00:01:00   00     01
2     NaN    00:02:00   00     02
3     NaN    00:03:00   00     03
4     NaN    00:04:00   00     04
...   ...         ...  ...    ...
1435  NaN    23:55:00   23     55
1436  NaN    23:56:00   23     56
1437  NaN    23:57:00   23     57
1438  NaN    23:58:00   23     58
1439  NaN    23:59:00   23     59

[1440 rows x 4 columns]